body{
	background: #DDEEFF;
	/*font-family: "Lucida Console", sans-serif;*/
}

h1{
	margin-top: .2em;
	margin-bottom: .2em;
	color: #BB0000;
	/*, rgb(142,11,0);*/
	font-size: 4.0em;
	font-family: Georgia, fantasy, serif;
	letter-spacing: .8em;
	text-align: center;
	/*margin: 5px;*/
	background-color: #000088;
	text-shadow: 3px 3px 3px rgba(255,255,255,1.6);
	border-style: outset;
}

h1 span{
  font-size: .7em;
  font-family: Georgia;
  letter-spacing: 0.1em;
  color: #BB0000;
  /*rgb(142,11,0);*/
  text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}

#linkbox{
	position: relative;
	text-align: left;
	background-color: #DDDDFF;
	/*font-style: oblique;*/
	font-size: 20px;
	border-style: solid;
	/*-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);*/	
	display: block;
	/*left-margin: 45%;*/
	/*right: 45%;*/
	column-count:2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
}

li{
  list-style: none;
  /*background-color: #039;
  border-top: solid 1px #039;*/
  text-align: left;
  margin: 1em;
  color: #000088;
  /*#336699;*/
  font-family: Verdana, sans-serif;
}

#navi{width: 12em;
	height: 6em;
	display:block;
	font-family: Verdana, serif;
}

::selection {
background:#f094b7;
color:#555;
}

::-moz-selection {
background:#f094b7;
color:#555;
}

::-webkit-selection {
background:#f094b7;
color:#555;
}

a{
	top: 0px;
	color: #BB0000;
}

a:hover{
	color: #777777;
}

/*ul{
	color: midnightblue;
}*/

#youarehere {
	color: #000088;
	text-transform:capitalize;
	border-style: outset;
}

img{
	background-color: #111111;
	/*margin: 5px;*/
	float: left;
	border-style: solid;
	height: 400px;
}

#pic{
	margin-bottom: 1em;
}

/*#click:hover{
	margin: 1em;
}*/

#clear {
	border-style:outset;
}
#clear:hover{
	text-align:center;
	color: #DDFFFF;
	background-color: green;
}

#clear:target{
	background-color: #DDFFFF;
}

p{
	font-family: Verdana, serif;
	color: #000088;
}

#bio {
	margin-left: 15em;
	text-align: right;
	margin-bottom: 3em;
}

h3{
	background-color: #000088;
	/*#66CCFF;*/
	color: #BB0000;
	font-family: "Arial Black", serif;
	/*springgreen;*/
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

ul.tabs {
	/*font-style: italic;*/
	font-family: Verdana;
}

#smcaps {
	font-variant: small-caps;
	font-weight: bold;
}

strong {
	color: #BB0000;
}