body{
	background: #66CCCC;
	font-family: Verdana, serif;
	font-size: 30px;
}

h1{
	color: blue;
	font-size: 90px;
	font-family: fantasy, serif;
	text-align: center;
	margin: 0px;
	background-color:chartreuse;
}

#linkage{
	position: relative;
	text-align: center;
	background-color: #DDDDDD;
	font-style: oblique;
	font-size: 44px;
	/*left-margin: 45%;*/
	/*right: 45%;*/
}

a{
	top: 0px;
	color: purple;
}

a:hover{
	color: #777777;
}

img{
	background-color: #111111;
	/*margin: 5px;*/
	float: left;
	height: 500px;
}

#click:hover{
	background-color: red;
}

#clear{
	text-align:center;
	color:#66CCCC;
}

ul{
	color: midnightblue;
}

h3{
	font-size: 36px;
	background-color: springgreen;
}